/* Write your CSS here */
.todo-item-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
}

.todo-title {
  color: #000000;
  margin-right: 20px;
  font-size: 18px;
  font-weight: 600;
  font-family: 'Roboto';
}

.delete-button {
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  color: #ff0b37;
  border: 2px solid #ff0b37;
  border-radius: 10px;
  background-color: #ffffff;
}

@media screen and (min-width: 768px) {
  .todo-title {
    font-size: 36px;
  }
}
